.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotify-logo {
  width: 300px;
  margin-bottom: 20px;
}

.btn-spotify {
  background-color: #1DB954;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-spotify:hover {
  background-color: #1ed760;
}
