.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #121212;
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; /* Allow vertical scrolling */
}

.sidebar ul {
  list-style: none;
  padding: 0; /* Remove default padding */
}

.sidebar ul li {
  padding: 15px 0; /* Padding for each item */
  font-size: 1.2rem; /* Font size */
  display: flex; /* Flex layout for icon and text */
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px; /* Add spacing between list items */
}

.sidebar ul li:hover {
  color: #1ed760; /* Hover color */
}

.sidebar ul li a {
  text-decoration: none; /* Remove text underline */
  color: inherit; /* Ensure link inherits hover color */
}

.sidebar ul li a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.sidebar ul li svg {
  margin-right: 10px; /* Space between icon and text */
}
